*, *:before, *:after {
    box-sizing: border-box;
  }


  body {
    background-color: hsl(229, 57%, 11%);
    background-repeat: no-repeat;
    background-attachment: scroll;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    color: white;
 }

/* Bottom background image */

html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background-image: url(./images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom center;
    background-size: 100% 50%;
}

body > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}

@media all and (max-width: 1920px){
    
    .one {
        padding: 30px;
        border-radius: 7px 80px 7px 7px;
        background-color: hsl(228, 56%, 26%);
        margin-right: 1%;
        flex-basis: 312px;
        height: 165px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }
    
    
    .icon:first-child {
        width: 100%;
    }
    
    .icon:not(:first-child) {
        border-radius: 10px;
        padding: 10px;
        background-color: hsl(229, 57%, 11%);
        margin: 10px;
        width: 52px;
        height: 48px;
    }
    
    .icon:nth-child(2) {
        margin-left: 0;
    }
    
    /* Second part */
    /* ============ */
    
    .two  {
        border-radius: 7px;
        background-color: hsl(228, 56%, 26%);
        padding: 1% 1.5%;
        flex-basis: 489px;
        margin-left: 1%;
        height: 120px;
        margin-top: 43.9px;
        position: relative;
    }

    #storage {
        border-radius: 15px;
        height: 12px;
        width: 100%;
        background-image: linear-gradient(to right, hsl(6, 100%, 80%)40%, hsl(335, 52%, 44%)80%, hsl(229, 57%, 11%) 20%);
        margin-bottom: 0;
        transition: ease-in;
    }
    
    #storage > img {
        position: absolute;
        height: 12px;
        width: 14px;
        left: 76%;    
    }



    .speech> p:first-child:hover::before {
        content: '185 GB LEFT';
        position: absolute;
        border-radius: 7px 7px 0 7px;
        padding: 15px 17px;
        background-color: white;
        color: hsl(229, 57%, 11%);
        left: 70.4%;
        top: -22%;
        transition: ease-out;
    }



    .speech> p:first-child:hover::after {
        content: '';
        border: 20px solid transparent;
        border-right-color: white;
        border-left: 0;
        position: absolute;
        left: 90.0%;
        top: 0%;
        transition: ease-in;
    }


    
    .space {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

@media all and (max-width: 1440px) {

    .speech> p:first-child:hover::before {
        content: '185 GB LEFT';
        position: absolute;
        border-radius: 7px 7px 0 7px;
        padding: 15px 17px;
        background-color: white;
        color: hsl(229, 57%, 11%);
        left: 71.9%;
        top: -20%;
        transition: ease-out;
    }



    .speech> p:first-child:hover::after {
        content: '';
        border: 20px solid transparent;
        border-right-color: white;
        border-left: 0;
        position: absolute;
        left: 91.5%;
        top: 2%;
        transition: ease-in;
    }

}

/* Mobile version */

@media all and (max-width: 700px) {
    body {
        background-size: cover;
        margin: auto 20px;
    }

    body > div {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    height: 100%;

    }

    .one {
        margin: 0;
        padding: 30px;
        border-radius: 7px 80px 7px 7px;
        background-color: hsl(228, 56%, 26%);
        flex-basis: 489px;
        height: 165px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .two  {
        margin: 0;
        border-radius: 7px;
        background-color: hsl(228, 56%, 26%);
        padding: 30px;
        flex-basis: 489px;
        height: 140px;
        position: relative;
        margin-top: 10px;
    }

    .two > p {
        margin-top: 0;
    }

    .speech> p:first-child:hover::before {
        content: '185 GB LEFT';
        position: absolute;
        border-radius: 7px;
        padding: 15px 17px;
        background-color: white;
        color: hsl(229, 57%, 11%);
        left: 30.4%;
        top: 82%;
        transition: ease-out;
    }

    
    .speech> p:first-child:hover::after {
        display: none;
    }

    #storage > img {
        position: absolute;
        height: 12px;
        width: 14px;
        left: 74%;
    }

}